@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(221, 100%, 96%);
}

#content {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#resultado {
    background-image: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}